body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:10% 10px 10px 10px;
    font-size: 16px;
}
header{
    background-color: green;
    margin: 0 auto;
    width: 70%;
}
li{
    background-color: whitesmoke;
    margin: 0 auto;
    width: 70%;
}
nav{
    background-color: yellow;
    margin: 0 auto;
    width: 100%;
}
ul {
  background-color: chocolate;  
    list-style-type: none;
  margin: 0;
  padding: 0;
}